html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#loadScreen {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav-main {
  width: 100%;
  margin-top: 0.5%;
  padding-bottom: 0.25%;
  background-color: #ffffff;
  border-bottom: 0.2vw solid #777777;
}

.nav-main > ul {
  height: 4.5vw;
  margin: 0;
  float: right;
  list-style-type: none;
}

.nav-main > ul > li {
  float: left;
}

.nav-item {
  display: inline-block;
  padding: 1.4vw;
  text-decoration: none;
  font-size: 1.425vw;
  font-family: Century Gothic;
  color: #777777;
}

.nav-item:hover {
  background-color: #eeeeee;
}

