html {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0.5vw;
  padding: 0;
}

#loadScreen {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99;
}

#icon {
  width: 7vw;
}

#header-main {
  width: 99vw;
  padding-top: 0.2vw;
  padding-bottom: 0.4vw;
}

#nav-menu, .nav-sub-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav-menu {
  float: right;
}

.nav-list-item {
  margin: 0;
  padding: 0;
  float: left;
}

.nav-list-item-link {
  margin: 0;
  padding: 0;
  padding-left: 2vw;
  padding-right: 0.0625vw;
  padding-top: 1.25vw;
  font-size: 1.125vw;
  color: #555555;
}

.nav-list-item-link, .nav-sub-list-item-link {
  display: inline-block;
  font-family: Helvetica;
  text-decoration: none;
}

.nav-list-item-link:hover, .nav-sub-list-item-link:hover {
  color: #ff5555;
}

.nav-sub-container {
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 99vw;
  border-top: 0.125vw solid #555555;
}

.nav-sub-menu {
  position: relative;
}

#nav-sub-menu-1 {
  width: 11.75vw;
  left: 87.25vw;
}

#nav-sub-menu-2 { 
  width: 4.7375vw;
  left: 94.2625vw;
}

.nav-sub-list-item {
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: #d8d8d8;
}

.nav-sub-list-item-link {
  margin: 0;
  padding-right: 0.5vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  font-size: 0.9vw;
  color: black;
}
