html, .body, #nav-menu, .nav-sub-menu, .nav-list-item, .nav-sub-list-item, .nav-list-item-link, .nav-sub-list-item-link {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0.5vw;
  text-align: center;
}

#loadScreen {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99;
}

#header-main, #nav-menu, .nav-list-item {
  display: inline-block;
}

#header-main {
  height: 2vw;
  width: 99vw;
  padding-bottom: 0.3125vw;
}

#icon, #nav-menu, .nav-sub-menu {
  position: relative;
}

/* aspect ratio is 4:1.5 */
#icon {
  right: 40vw;
  height: 1.875vw;
  width: 5vw;
}

#nav-menu, .nav-sub-menu {
  list-style-type: none;
}

#nav-menu {
  left: 40vw;
}

.nav-list-item {
  padding-left: 1.5vw;
}

.nav-list-item-link, .nav-sub-list-item-link {
  font-family: Arial;
  text-decoration: none;
}

.nav-list-item-link:hover, .nav-sub-list-item-link:hover {
  color: #ff5555;
}

.nav-list-item-link {
  font-size: 1vw;
  color: #555555;
}

.nav-sub-container {
  position: absolute;
  height: 0;
  width: 99vw;
  border-top: 0.125vw solid #555555;
  overflow: hidden;
}

/* sum to 99vw */
#nav-sub-menu-1 {
  width: 9.75vw;
  left: 89.25vw;
}

#nav-sub-menu-2 { 
  width: 8.25vw;
  left: 90.75vw;
}

#nav-sub-menu-3 {
  width: 3.5vw;
  left: 95.5vw;
}

.nav-sub-list-item {
  padding: 0.375vw;
  text-align: right;
  background-color: #d8d8d8;
}

.nav-sub-list-item-link {
  font-size: 0.8vw;
  color: black;
}

@media screen and (max-width: 1366px) {

  .nav-sub-list-item {
    padding: 0 0.375vw 0 0;
  }
}
