.model-heading {
  margin: 0;
  margin-top: 3vw;
  margin-bottom: 2vw;
  padding: 0;
}

.model-heading > pre {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Corbel;
  font-size: 1.5vw;
  color: #555555;
}

#user-params-container {
  height: 31.5vw;
  width: 92vw;
  margin-left: 3.375vw;
  /*background-color: lightyellow;*/
}

#user-params-container, #initial-params-container, #initial-params-sub-container, #final-params-container, #trade-legs-params-container,
.trade-leg, .leg-sub-container, #current-price-container, #continue-button-1, #return-button-1, #calculate-button-1, .radio.buy-sell,
.radio.call-put, #fees-field, .num-contracts-field, .strike-price-field, .expiry-field, .div-yield-field, .risk-free-rate-field,
.option-price-field, #current-price-field {
  overflow: hidden;
  font-family: Century Gothic;
  font-size: 1vw;
}

#initial-params-container {
  height: 12.5vw;
  width: 35vw;
  margin-left: 28vw;
  background-color: #f1f1f1;
  border-radius: 0.3vw;
}

#initial-params-sub-container {
  width: 32vw;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  padding-bottom: 0.125vw;
  background-color: #fafafa;
}

#final-params-container {
  height: 31.5vw;
  background-color: #f1f1f1;
  border-radius: 0.3vw;
  opacity: 0;
}

#trade-legs-params-container {
  padding-left: 1vw;
  padding-top: 1.5vw;
}

.trade-leg {
  display: inline-block;
  height: 24.5vw;
  width: 20vw;
  margin-left: 1.25vw;
  margin-right: 1.25vw;
}

.leg-sub-container {
  margin-bottom: 0.5vw;
  background-color: #fafafa;
  border-radius: 0.3vw;
}

form {
  padding: 0.625vw;
}

.align-helper {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  color: #555555;
}

#num-legs-align-helper {
  width: 13.75vw;
  margin-left: 0.8125vw;
  margin-top: 0.5vw;
}

#fees-align-helper {
  width: 20.125vw;
  margin-left: 0.9375vw;
}

#current-price-align-helper {
  width: 18.25vw;
}

#continue-button-1, #return-button-1, #calculate-button-1 {
  height: 1.75vw;
  width: 7vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

#continue-button-1 {
  margin-left: 14vw;
  margin-top: 1.5vw;
}

#calculate-button-1 {
  margin-left: 1.4375vw;
}

input[type=radio] {
  display: none;
}

input[type=radio] + .radio {
  display: inline-block;
  height: 1vw;
  margin: 0;
  margin-left: 1.625vw;
  padding-left: 0.55vw;
  padding-right: 0.55vw;
  padding-top: 0.25vw;
  padding-bottom: 0.5vw;
  text-align: center;
  background-color: #d8d8d8;
  color: #333333;
  border-radius: 0.1vw;
}

input[name=num-legs-radio] + .radio {
  width: 1.25vw;
  margin-left: 1.1875vw;
}

input[type=radio]:checked + .radio {
  color: #ff5555;
}

.radio.buy-sell, .radio.call-put {
  width: 5vw;
}

.buy-sell-form, .call-put-form {
  margin: 0;
  padding: 0;
  padding-left: 1.5vw;
  padding-top: 0.75vw;
  padding-bottom: 0.25vw;
}

.num-contracts-form, .strike-price-form, .expiry-form, .div-yield-form, .risk-free-rate-form, .option-price-form {
  display: inline-block;
  width: 18.75vw;
  margin: 0;
  padding: 0;
  padding-left: 1.125vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.num-contracts-form, .strike-price-form {
  margin-left: 1.875vw;
}

#current-price-form {
  display: inline-block;
  margin-left: 1.5vw;
  margin-top: 1.25vw;
  background-color: #fafafa;
  border-radius: 0.3vw;
}

#fees-field, #current-price-field {
  height: 1.75vw;
  width: 5vw;
  padding-left: 0.5vw;
  text-align: center;
}

#fees-field, .num-contracts-field, .strike-price-field, .expiry-field, .div-yield-field, .risk-free-rate-field,
.option-price-field, #current-price-field {
  background-color: #ddffdd;
  border: 0.1vw solid #d8d8d8;
}

.num-contracts-field, .strike-price-field, .expiry-field, .div-yield-field, .risk-free-rate-field, .option-price-field {
  height: 1.5vw;
  width: 4vw;
  padding-left: 0.75vw;
  text-align: center;
}

#fees-field {
  margin-left: 2.875vw;
}

.num-contracts-field {
  margin-left: 0.9375vw;
}

.strike-price-field {
  margin-left: 1.875vw;
}

.expiry-field {
  margin-left: 0.875vw;
}

.div-yield-field {
  margin-left: 4.375vw;
}

.risk-free-rate-field {
  margin-left: 5.25vw;
}

.option-price-field {
  margin-left: 6.3125vw;
}

#current-price-field {
  margin-left: 0.25vw;
}

