/* HEADING ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.model-heading {
  margin: 0;
  padding: 0;
  margin-top: 1.75vw;
  margin-bottom: 0.5vw;
  text-align: center;
}

.model-heading > pre {
  margin: 0;
  padding: 0;
  font-family: Corbel;
  font-size: 1.5vw;
  color: #555555;
}
/* END HEADING ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.general-group {
  overflow: hidden;
  font-family: Century Gothic;
  font-size: 1vw;
}

/* CONTAINERS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#app-container {
  height: 41vw;
  text-align: center;
  background-color: transparent; /*lightgreen; test*/
}

#initial-params-container {
  height: 24vw;
  margin-top: 0.5vw;
  background-color: transparent; /*lightblue; test*/
}

#initial-params-sub-container {
  display: inline-block;
  height: 13vw;
  width: 30vw;
  margin-top: 3vw;
  background-color: #a6a6a6;
}

#final-params-container {
  opacity: 0; 
  height: 38vw;
  background-color: transparent; /*lightpink; test*/
}

#final-params-sub-container {
  display: inline-block;
  height: 35vw;
  /* set width = 0 to vertically align two div's #trade-legs-params-container and #current-price-form */
  margin-top: 1.5vw;
  background-color: #a6a6a6;
}

#trade-legs-params-container {
  padding-top: 1.25vw;
}

.trade-leg {
  display: inline-block;
  height: 28vw;
  width: 20vw;
  padding-left: 1.125vw;
  padding-right: 1.125vw;
}

.leg-sub-container {
  height: 2.725vw;
  margin-bottom: 0.5vw;
  background-color: #fafafa;
}

#output-container {
  opacity: 0;
  height: 40.25vw;
  background-color: transparent; /*violet; test*/
}

#output-sub-container {
  display: inline-block;
  margin-top: 0.5vw;
  background-color: #a6a6a6;
}

#output-sub-container-1, #output-sub-container-2 {
  display: inline-block;
  height: 39vw;
}

#output-sub-container-1 {
  width: 12.5vw;
}

#output-sub-container-2 {
  width: 78.25vw;
}

#output-view-container, .loading-text {
  height: 31vw;
}

.loading-text {
  line-height: 32vw;
  text-align: center;
  font-size: 1.75vw;
  color: #9999ff;
}

#output-view-container, #output-summary-container {
  width: 77.5vw; /* aspect ratio of #output-view-container is 2.5:1 */
}

#output-view-container {
  margin-top: 1vw;
  background-color: #888888;
}

#output-summary-container {
  height: 6.5vw;
  margin-top: 0.375vw;
}
/* END CONTAINERS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* TABLES /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#output-summary-table {
  width: 65.60875vw;
  font-family: Arial;
  font-size: 0.65vw;
  border-spacing: 0;
}

#table-headings {
  height: 1vw;
  background-color: #9999ff;
}

#trade-summary-heading {
  width: 18.12125vw;
}

.price-iv-headings {
  width: 5.9vw; /* width x 2 = 11.8vw */
}

.greek-headings {
  width: 7.1375vw; /* width x 5 = 35.6875vw */
}

.summary-group, td {
  height: 0.9vw;
  text-align: center;
  background-color: #eeeeff;
  border-bottom: 1px solid #c5c5c5;
}

.totals-group {
  height: 1vw;
  background-color: #d8d8d8;
  border-bottom: none;
}

.border-right-group {
  border-right: 1px solid;
}
/* END TABLES /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ALIGNMENT HELPERS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.align-helper {
  display: inline-block;
  text-align: left;
}

#num-legs-align-helper {
  width: 15vw;
  padding-bottom: 0.1875vw;
  font-size: 0.95vw;
}

#fees-align-helper {
  width: 20.25vw;
  padding-top: 0.375vw;
  font-size: 0.95vw;
}

#current-price-align-helper {
  height: 1.5vw;
  width: 18.25vw;
  padding-top: 0.25vw;
  font-size: 0.95vw;
}

.trade-leg-align-helpers {
  width: 13vw;
}

#output-time-align-helper {
  width: 10.5vw;
  margin-left: 0.30625vw;
  font-size: 0.9vw;
}
/* END ALIGNMENT HELPERS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* BUTTONS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.buttons {
  height: 1.75vw;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
  border: none;
}

#continue-button-1, #return-button-1, #calculate-button-1 {
  width: 7vw;
  margin-right: 1vw;
}

#output-time-button {
  width: 2.75vw;
  font-size: 0.9vw;
}
/* END BUTTONS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* FORMS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
input[type=radio] {
  display: none;
}

input[type=radio] + .radio {
  display: inline-block;
  height: 1vw;
  margin: 0;
  padding-top: 0.25vw;
  padding-bottom: 0.5vw;
  background-color: #d8d8d8;
  color: #333333;
}

input[type=radio]:checked + .radio {
  color: #ff5555;
}

label.radio.num-legs {
  width: 2vw;
  margin-left: 0.5vw;
}

label.radio.trade-leg-radios {
  width: 6vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

label.radio.output-view {
  width: 3vw;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
}

label.radio.output-data {
  width: 8vw;
  margin-top: 0.625vw;
  margin-bottom: 0.625vw;
  padding-top: 0.375vw;
  padding-bottom: 0.625vw;
}

.trade-leg-radio-forms {
  margin: 0;
  padding: 0;
  padding-top: 0.75vw;
  padding-bottom: 0.25vw;
}

.trade-leg-field-forms {
  display: inline-block;
  height: 1.75vw;
  width: 19vw;
  margin: 0;
  padding: 0;
  padding-top: 0.4375vw;
  padding-bottom: 0.5vw;
  text-align: center;
}

#num-legs-form, #fees-form, #current-price-form {
  display: inline-block;
  height: 2vw;
  margin: 0;
  padding: 0.5vw;
  background-color: #fafafa;
}

#num-legs-form, #fees-form {
  width: 27vw;
  margin-top: 0.875vw;
}

#num-legs-form {
  padding-top: 0.75vw;
}

#fees-form {
  padding-top: 0.4375vw;
  margin-bottom: 2.75vw;
}

#current-price-form {
  margin-top: 1.25vw;
}

.output-forms {
  display: inline-block;
  width: 11vw;
  margin: 0;
  padding: 0;
  padding-top: 0.5vw;
  background-color: #fafafa;
}

#output-view-form {
  height: 2.25vw;
  margin-top: 1vw;
}

#output-data-form {
  height: 21.125vw;
  margin-top: 0.6875vw;
}

#output-time-form {
  height: 4.25vw;
  margin-top: 0.6875vw;
}
/* END FORMS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* FIELDS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.all-fields {
  display: inline-block;
  margin: 0;
  padding: 0.125vw;
  text-align: center;
  background-color: #ddffdd;
  border: 1px solid #ddffdd;
}

.small-fields {
  height: 1.5vw;
  width: 4vw;
  padding-left: 0.75vw;
}

#fees-field, #current-price-field {
  height: 1.75vw;
  width: 5vw;
  padding-left: 0.5vw;
}

#output-time-field {
  height: 1.5vw;
  width: 4vw;
  margin-top: 0.5vw;
  padding-left: 0.5vw;
}
/* END FIELDS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
