#welcome {
  margin: 0;
  padding-top: 6vw;
  padding-bottom: 5vw;
}

#welcome > pre, #more {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Corbel;
  color: #555555;
}

#welcome > pre {
  font-size: 2vw;
}

#risk {
  color: #ff5555;
}

#profit {
  color: #55bb55;
}

#watermark {
  text-align: center;
}

#icon2 {
  width: 20vw;
}

#more {
  padding-top: 10vw;
  font-size: 1.125vw;
}

#more-link {
  color: #000000;
}

