#welcome {
  margin: 0;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

#welcome > pre, #more {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Corbel;
  color: #555555;
}

#welcome > pre {
  font-size: 2.5vw;
}

#risk {
  color: #ff5555;
}

#profit {
  color: #55bb55;
}

#watermark {
  text-align: center;
}

#icon2 {
  width: 25vw;
}

#more {
  padding-top: 12vw;
  font-size: 1.5vw;
}

#more-link {
  color: #000000;
}

