#welcome {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

#welcome > pre {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Corbel;
  font-size: 2.5vw;
  color: #555555;
}

pre > #risk {
  color: #ff5555;
}

pre > #profit {
  color: #55bb55;
}

#watermark {
  text-align: center;
}

#watermark > #icon2 {
  width: 25vw;
}

